body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
background-color: #464749;
    color: white;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo img {
    height: 150px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
div{
    display: flex;
    flex-direction: column;
}
#foto{
    height: 600px;
    width: 600px;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}
